[Unit]
Description=Poll AWS Metadata Service for the termination notice
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/sbin/terminate-notice

[Install]
WantedBy=multi-user.target